/*----------------------------Variables--------------------------*/
/*fonts*/
body {
  background-color: #f9f4f5;
}

body p {
  color: #130d07;
}

a {
  color: #130d07;
}

a:hover {
  color: #0b7a75;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.add {
  font-size: 2rem;
}

.add i {
  color: #130d07;
}

h1 {
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  text-align: left;
}

h1 a {
  color: #130d07;
}

h1 a:hover {
  color: #0b7a75;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

header {
  border-bottom: solid 2px;
  border-bottom-color: #0b7a75;
}

footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #ef8275;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  color: #f9f4f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ef8275;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}

.image-annonce {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f9f4f5;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.annonce {
  display: block;
}

.groupe-annonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
}

.mini-carte {
  width: 540px;
  height: 140px;
  background-color: #f9f4f5;
}

.div-image, .row-carte {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.div-image {
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.row-carte {
  border: solid 1px #ef8275;
  border-radius: 3px;
}

.mini-carte-prix {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

/*-------------------------------------Annonce----------------------------*/
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.photo-annonce {
  max-width: 300px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detail-annonce {
  margin: 2rem;
  padding: 1.5rem;
  border: solid 1px #ef8275;
  border-radius: 10px;
  max-width: 500px;
}

.flex-detail-annonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div-pdf {
  margin: 2rem;
  padding: 1.5rem;
}
/*# sourceMappingURL=style.css.map */