/*----------------------------Variables--------------------------*/
/*fonts*/
body {
  background-color: #f9f4f5;
}

body p {
  color: #381a0b;
}

a {
  color: #381a0b;
}

a:hover {
  color: #0b7a75;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.add {
  font-size: 2rem;
}

.add i {
  color: #381a0b;
}

.add i:hover {
  color: #0b7a75;
}

h1 {
  font-family: "Comfortaa", cursive;
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
}

h1 a {
  color: #381a0b;
}

h1 a:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #381a0b;
}

h1 a img {
  margin-bottom: 0.8rem;
}

header {
  padding-top: 1.5rem;
  border-bottom: solid 4px;
  border-bottom-color: #0b7a75;
}

footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #ef8275;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer p {
  color: #f9f4f5;
}

footer p a {
  color: #f9f4f5;
}

.search {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ef8275;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}

.custom-select:focus {
  border-color: #ef8275;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.groupe-annonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.annonce {
  display: block;
}

.annonce:hover {
  color: #0b7a75;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.mini-carte {
  width: 33rem;
  height: 8.75rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border: 1px solid salmon;
  border-radius: 3px;
  margin: 0.8rem;
}

.div-image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-annonce {
  height: 100%;
  width: auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.contenant-txt {
  background-color: white;
  padding-left: 0.8rem;
  padding-right: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 55%;
}

.carte-titre {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  padding-bottom: 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mini-carte-prix {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  margin-bottom: 0.5rem;
}

/*-------------------------------------Annonce----------------------------*/
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.photo-annonce {
  max-width: 300px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detail-annonce {
  margin: 2rem;
  padding: 1.5rem;
  border: solid 1px #ef8275;
  background-color: white;
  border-radius: 10px;
  max-width: 500px;
}

.flex-detail-annonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div-pdf {
  margin: 2rem;
  padding: 1.5rem;
}

/*---------------------------Formulaire ajout----------------------*/
.form-control:focus {
  border-color: #0b7a75;
  -webkit-box-shadow: 0 0 0 0.2rem #0b7a75;
          box-shadow: 0 0 0 0.2rem #0b7a75;
}

.btn-secondary.focus, .btn-secondary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.retour-ajout {
  text-align: right;
  margin: 1rem;
}

/*--------------------------Validation----------------------*/
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 26, 11, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal.hidden {
  display: none;
}

#modal_dialogue {
  width: 100%;
  max-width: 33rem;
  max-height: 10rem;
  background-color: white;
  border: 1px solid #ef8275;
  border-radius: 3px;
  text-align: center;
}

#modal_dialogue #btnModal {
  background-color: #ef8275;
  color: #f9f4f5;
  cursor: pointer;
}

.annonce_suppr {
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem;
}

@media screen and (max-width: 479px) {
  .add {
    font-size: 2rem;
  }
  .add i {
    color: #381a0b;
  }
  h1 {
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  h1 a:hover {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
  h1 a img {
    margin-bottom: 0.8rem;
    text-align: left;
  }
  header {
    padding-top: 1.5rem;
    border-bottom: solid 4px;
    border-bottom-color: #0b7a75;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*-------------------------------------Phone cartes annonces----------------------------*/
  .mini-carte {
    width: 21.85rem;
    height: 8.75rem;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    border: 1px solid #ef8275;
    border-radius: 3px;
    margin: 0.8rem;
  }
  .carte-titre {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .mini-carte-prix {
    text-align: right;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
  }
  .div-image {
    width: 45%;
  }
  .image-annonce {
    max-height: 100%;
    width: auto;
    height: auto;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
  }
  /*-------------------------------------Phone Annonce----------------------------*/
  .flex-detail-annonce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photo-annonce {
    max-width: 250px;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .detail-annonce {
    margin: 1rem;
    padding: 1rem;
    border: solid 1px #ef8275;
    background-color: white;
    border-radius: 10px;
    max-width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */