@import'variable.scss';

// --------------------------Général---------------------
body{
    background-color: $blanc;
    p{
        color : $marron;
    }
}
a{
    color : $marron;
    &:hover{
        color : $turquoise;
        text-decoration-line: none;
    }
}
//-------------------------------------base--------------------------
.add{
    font-size : 2rem;
    i{
        //color : rgb(223, 172, 78);
        color : $marron;

    }
}
h1{
    font-family: $popy-font;
    font-size : 3rem;
    font-weight: 500;
    text-align: left;
    a{
        color : $marron;
        &:hover{
            color : $turquoise;
            text-decoration-line: none;
        }
        img{
            margin-bottom: 0.8rem;
        }
    }   
}
header{
    padding-top: 1.5rem;
    border-bottom : solid 4px;
    border-bottom-color: $turquoise;
}
footer{
    margin-top : 3rem;
    margin-bottom : 3rem;
    background-color: $saumon;
    padding-left : 0.5rem;
    padding-right : 0.5rem;
    padding-top : 1.5rem;
    padding-bottom : 1rem;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    p{
        color : $blanc;
        a{
        color : $blanc;
        }
    }
    
}
//--------------------------------index------------------------------
.search{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: $saumon;
    padding-left : 0.8rem;
    padding-right : 0.8rem;
    padding-top : 1.5rem;
    padding-bottom : 1rem;
    border-radius: 10px;

}
.custom-select:focus{
    border-color: $saumon;
    box-shadow: none;
}
.groupe-annonce{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    // padding-left : 0.5rem;
    // padding-right : 0.5rem;
    padding-top : 1.5rem;
    padding-bottom : 1.5rem;
    // border-radius: 10px;
    
}
.annonce{
    display : block;
    
}
.mini-carte{
    width: 33rem;
    height : 8.75rem;
    background-color: $blanc;
    display : flex;
    align-content: center;
    justify-content: left;
    border : 1px solid salmon;
    border-radius: 3px;
    margin : 0.8rem;
}
.div-image{
    box-sizing: border-box;
    height : 100%;
    width : 40%;
    display : flex;
    align-content: center;
    justify-content: center;
}
.image-annonce{
    //max-width: 100%;
    height : 100%;
    width : auto;
    max-width: 100%;
    box-sizing: border-box;
    display : block;
}
.contenant-txt{
    background-color: $blanc;
    padding-left: 0.8rem;
    padding-right: 1rem;
    box-sizing: border-box;
    max-width: 55%;
}
.carte-titre{
    font-size: 1.5rem;
    margin-top : 0.5rem;
    margin-bottom: 0.8rem;
    box-sizing: border-box;

}
p{
    font-size: 1rem;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
}
.mini-carte-prix{
    font-size : 1.5rem;
    font-weight : 700;
    text-align: right;
    margin-bottom: 0.5rem;

}
/*-------------------------------------Annonce----------------------------*/
h2{
    font-size : 2rem;
    font-weight : 700;
    margin-bottom : 1rem;
}
.photo-annonce{
    max-width: 300px;
    height: auto;
    box-sizing: border-box;
}
.detail-annonce{
    margin : 2rem;
    padding : 1.5rem;
    border : solid 1px $saumon;
    border-radius: 10px;
    max-width: 500px;
}
.flex-detail-annonce{
    display : flex;
    align-content: center;
    justify-content: space-between;
}
.div-pdf{
    margin : 2rem;
    padding : 1.5rem;
}
@media#{$smartphone}{
    .mini-carte{
        width: 21.85rem;
        height : 8.75rem;
        background-color: $blanc;
        display : flex;
        align-content: center;
        justify-content: left;
        border : 1px solid salmon;
        border-radius: 3px;
        margin : 0.8rem;
    }
    .carte-titre{
        font-size: 1.5rem;
        margin-top : 0.5rem;
        margin-bottom: 0.5rem;
    }
    p{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-top : 0.5rem;
    }
    .mini-carte-prix{
        text-align: right;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
        margin-top : 0.5rem;
    }
    .div-image{
        width : 45%;
    }
    .image-annonce{
        //max-width: 100%;
        max-height : 100%;
        width : auto;
        height : auto;
        max-width: 100%;
        box-sizing: border-box;
        display : block;
    }
}