@import'variable.scss';

// --------------------------Général---------------------
body{
    background-color: $blanc;
    p{
        color : $marron;
    }
}
a{
    color : $marron;
    &:hover{
        color : $turquoise;
        text-decoration-line: none;
    }
}
//-------------------------------------base--------------------------
.add{
    font-size : 2rem;
    i{
        //color : rgb(223, 172, 78);
        color : $jaunecrayola;

    }
}
h1{
    font-family: $popy-font;
    font-weight: 500;
    text-align: left;
    a{
        color : $jaunecrayola;
        &:hover{
            color : $turquoise;
            text-decoration-line: none;
        }
    }   
}
header{
    border-bottom : solid 2px;
    border-bottom-color: $turquoise;
}
footer{
    margin-top : 3rem;
    margin-bottom : 3rem;
    background-color: $jaunecrayola;
    padding-left : 0.5rem;
    padding-right : 0.5rem;
    padding-top : 1.5rem;
    padding-bottom : 1rem;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
//--------------------------------index------------------------------
.search{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: $saumon;
    padding-left : 0.5rem;
    padding-right : 0.5rem;
    padding-top : 1.5rem;
    padding-bottom : 1rem;
    border-radius: 10px;

}
.image-annonce{
    max-height : 100%;
    width : auto;
    max-width: 100%;
    box-sizing: border-box;
    background-color: $blanc;
    background-position: center;
    background-repeat: no-repeat;
    display : block;
}
.annonce{
    display : block;
    
}
.groupe-annonce{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left : 0.5rem;
    padding-right : 0.5rem;
    padding-top : 1.5rem;
    padding-bottom : 1.5rem;
    border-radius: 10px;
    
}
.mini-carte{
    width: 540px;
    height : 140px;
    background-color: $blanc;
}
.div-image, .row-carte{
    box-sizing: border-box;
    height : 100%;
    
}
.div-image{
    //background-image: url(../media/logo/back-popy.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
}
.row-carte{
    border : solid 1px $saumon;
    border-radius: 3px;
}
.mini-carte-prix{
    font-size : 1.5rem;
    font-weight : 700;
    text-align: right;
}
/*-------------------------------------Annonce----------------------------*/
h2{
    font-size : 2rem;
    font-weight : 700;
    margin-bottom : 1rem;
}
.photo-annonce{
    max-width: 300px;
    height: auto;
    box-sizing: border-box;
}
.detail-annonce{
    margin : 2rem;
    padding : 1.5rem;
    border : solid 1px $saumon;
    border-radius: 10px;
    max-width: 500px;
}
.flex-detail-annonce{
    display : flex;
    align-content: center;
    justify-content: space-between;
}
.div-pdf{
    margin : 2rem;
    padding : 1.5rem;
}