/*----------------------------Variables--------------------------*/

/*fonts*/

$popy-font :'Comfortaa', cursive;
// color
$saumon : rgb(239, 130, 117);
$turquoise : rgb(11, 122, 117);
$blanc : rgb(249, 244, 245);
$marron : rgb(56, 26, 11);
//Médiaqueries
$smartphone : "screen and (max-width: 479px)";
