{% extends "base.html.twig" %}

{% block content %}
<form action="">
    <label for="">Titre</label>
    <input type="text">
    <label for="">Catégorie</label>
    <input type="select">
    <label for="">Description</label>
    <input type="text">
    <label for="">Prix</label>
    <input type="text">
    <label for="">Votre Nom</label>
    <input type="text">
    <label for="">Prénom</label>
    <input type="text">
    <label for="">Courriel</label>
    <input type="text">
    <label for="">Téléphone</label>
    <input type="text">
    
    <input type="submit">
</form>
{% endblock content %}