{% extends "base.html.twig" %}

{% block content %}
<p class="add retour-ajout"><a href="http://popy/"><i class="fas fa-undo-alt"></i></a></p>

<form id="add" method="POST" class="needs-validation" novalidate>
<div class="form-group">
        <label for="exampleFormControlInput1">Titre de l'annonce</label>
        <input name="ann_titre" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titre de votre annonce" required>
        <div class="invalid-feedback">
                Veuillez entrer un titre
        </div>
</div>

<div class="form-group">
        <label for="">Catégorie</label>
        <select name="cat_libelle" class="form-control" id="" required>
                <option value="0" selected>Catégories</option>
                <option value="Vêtement">Vêtement</option>
                <option value="meuble">meuble</option>
                <option value="voiture">voiture</option>
                <option value="Appareils électroniques/multimédia">Appareils électroniques/multimédia</option>
                <option value="jeux/jouets">jeux/jouets</option>
                <option value="Divertissements/loisirs">Divertissements/loisirs</option>
                <option value="Services">Services</option>
                <option value="Autre">Autre</option>        
        </select>
        <div class="invalid-feedback">
                Veuillez entrer une catégorie
        </div>
</div>
<div class="form-group">
        <label for="exampleFormControlTextarea1">Entrez une description</label>
        <textarea name="ann_description" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
        <div class="invalid-feedback">
                Veuillez entrer une description
        </div>
</div>
    <div class="form-group">
        <label for="">Prix (non obligatoire)</label>
        <input name="ann_prix" type="text" class="form-control" id="exampleFormControlInput1" placeholder="5">
    </div>
<div class="form-group">
        <label for="">Votre nom</label>
        <input name="usr_nom" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dupuis" required>
        <div class="invalid-feedback">
                Veuillez entrer un nom
        </div>
</div>
<div class="form-group">
        <label for="">votre prénom</label>
        <input name="usr_prenom" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Harry" required>
        <div class="invalid-feedback">
                Veuillez entrer un prénom
        </div>
</div>
<div class="form-group">
        <label for="">votre courriel</label>
        <input name="usr_courriel" type="email" class="form-control" id="exampleFormControlInput1" placeholder="rincevent@example.com" required>
        <div class="invalid-feedback">
                Veuillez entrer un courriel
        </div>
</div>
<div class="form-group">
        <label for="">votre numéro de téléphone</label>
        <input name="usr_telephone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="0123456789" required>
        <div class="invalid-feedback">
                Veuillez entrer un numéro de téléphone
        </div>
</div>
<div class="form-group">
        <label for="">Chargez une image (non obligatoire)</label>
        <input name="file" type="file" class="form-control" id="exampleFormControlInput1" placeholder="uploadez une image">
</div>
   
<button id="envoyer" class="btn btn-secondary btn-lg btn-block">Envoyer</button>
</form>

{% endblock %}

{% block javascripts %}
        <script src="js/soumission.js"></script>

{% endblock javascripts %}