<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- link favicon -->
    <link rel="icon" type="medias/png" href="../../public/media/logo/popy3-1.png" />
    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/style.css">

    <title>Popy</title>
  </head>
  <body>
  <div class="container-fluid">
    <header class="container">
       <div class="row">
          <div class="col-4">
            <p><a href="/ajout" class="add"><i class="fas fa-plus-circle"></i></a></p>
          </div>
          <div class="col-8">
            <h1><a href="http://popy/"><img src="../../public/media/logo/popy3-1.png" alt=""> Popy</a></h1>
          </div>      
    </div>
    </header>
    <main class="container">
      {% block content %}{% endblock content %}
    </main>
    <footer class="container">
      <div>
        <p>© Popy Team</p>
        <p>Site Internet et Design : Sonia Hoareau et Lisa Devoghelaere</p>
      </div>
      <div>
        <p>
          Visitez nos portfolio
          <hr>
          <a href="#">Sonia</a>
          <hr>
          <a href="#">Lisa</a>
        </p>
      </div>
    </footer>
  </div>
    

{% block javascripts %}
  
{% endblock javascripts %}
  
  <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/d5dcbc8efb.js" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!--categorie, scroll-->
    <script src="js/script.js"></script>
  </body>
</html>