{% extends "base.html.twig" %}

{% block content %}
<div class="search">
  <div class="input-group mb-3">
    <select class="custom-select" id="inputGroupSelect02">
      <option value="0" selected>Catégories</option>
      <option value="3">Vêtements</option>
      <option value="5">Meubles</option>
      <option value="6">Véhicules</option>
      <option value="7">Jeux/jouets</option>
      <option value="8">Appareils électroniques/multimédia</option>
      <option value="9">Divertissements/loisirs</option>
      <option value="10">Services</option>
      <option value="11">Autre</option>
    </select>
    <div id="choisir"  class="input-group-append">
      <label class="input-group-text" for="inputGroupSelect02">Choisir</label>
    </div>
  </div>
    <!--<div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="..." aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect02">Trouver</label>
      </div>
    </div>-->
</div>
<div class="groupe-annonce" id="section-annonce">
  
</div>
{% endblock content %}
    
{% block javascripts %}
  <!--categorie, scroll-->
  <script src="js/script.js"></script>
{% endblock javascripts %}
