{% extends "base.html.twig" %}

{% block content %}
<p class="annonce_suppr">Votre annonce a été supprimer</p>

{% endblock content %}

{% block javascripts %}
        <script src="js/supprimer.js"></script>
{% endblock javascripts %}